    h1 {
        font-family: Papyrus;
    color: rgb(222, 247, 247);
    margin-left: 30px;
    }

    body{
        background-image: url(background.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #cccccc;
    }
    
   
    a:link{
        color: white;
    }
    
    a:visited{
        color:white;
    }
    .menu a{
        font-family: Papyrus;
        margin-right: 30px;
    }
    
    h2 {
    
    
        color: rgb(188, 32, 194);
    }

  

    .Box1 {

        background-color: cadetblue;
        display: flex;
        justify-content: space-between;
    }

    .grid {

display: flex;
flex-wrap: wrap;
justify-content: space-evenly;

    }

    .item{
        position: relative;
    }

    .item img{

        padding: 40px;
    }

    
    .item p{
        font-weight: bold;
        color:black;
        font-family: Papyrus;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity:0;
    }

    .item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
} 
    

    .footer {


        display: flex;
        justify-content: flex-end;
    }

    p{
        font-size: x-large;
        color:saddlebrown ;
        font-family: "Lucida Handwriting";
      }
    
    h2,p {

        text-align: center;
    }